.btn-primary {
    color: white;
    background-color:#DE5973;
    background-image: none;
    border-color: #DE5973;
    border-radius: .5rem;
}

.btn-primary:hover {
    color: #DE5973;
    background-color: #DE5973;
    border-color: #DE5973;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #DE5973;
    background-color: #DE5973;
    border-color: #DE5973;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #DE5973;
    background-color: #DE5973;
    border-color: #DE5973;
}

.my-button {
    color: white;
    background-color:##538F76;
    background-image: none;
    border-color: #538F76;
    border-radius: .5rem;
}

.btn-custom-color:hover {
    color: #538F76;
    background-color: #538F76;
    border-color: #538F76;
}
